---

---

<section>
    <div class="label"><p>Crónica</p></div>
    <div class="two-columns">
        <div class="left-section">
            <div id="image-holder" class="image-holder">
                <img src="../main-img.png" alt="hh" />
            </div>
        </div>

        <div class="rigth-section">
            <div class="title"><h3>Erotida</h3></div>
            <div class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s,
            </div>
        </div>
    </div>
</section>
<style>
    .label {
        font-size: 0.8rem;
    }
    section {
        margin: 0 auto;
        padding: 0.5rem;
    }
    .title {
        text-align: center;
        font-size: 1.2rem;
        font-family: "Crimson Pro";
        color: var(--red);
    }
    .two-columns {
        display: flex;
    }
    .left-section {
        width: 50%;
        display: grid;
        place-items: center;
    }
    .rigth-section {
        width: 50%;
    }
    .description {
        color: var(--red);
    }
    .image-holder {
        border-radius: 1rem;
        width: 95%;
        max-width: 25rem;
        height: 10rem;
        /*left: 0;
        z-index: -1;
        opacity: 0;
        transform: scale(0.9) translateX(100px);
        transition: 1s ease-in-out all;*/
        padding: 10px;
    }
    .image-holder img {
        border-radius: 1rem;
        width: 100%;
        height: 100%;
    }
</style>
