---

---

<section>
    <div class="final-text">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s,
        </p>
    </div>
    <button type="button" class="">Leer ahora</button>
</section>
<style>
    section {
        margin: 0 auto;
        margin-top: 2rem;
        padding: 0.5rem;
        display: grid;
        place-items: center;
    }
    .final-text {
        color: var(--brown);
    }
    button {
        background-color: var(--red);
        border: none;
        border-radius: 0.7rem;
        padding: 0.7rem 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: var(--cream-white);
        cursor: pointer;
    }
</style>
