---

---

<script>
    window.addEventListener("scroll", function () {
        const scrollHeight = document.documentElement.scrollHeight;
        const clientHeight = document.documentElement.clientHeight;
        const scrollTop = document.documentElement.scrollTop;
        const scrolled = ((scrollTop + clientHeight) / scrollHeight) * 100;
        const miElemento2 = document.querySelector(".boton");
        if (scrolled >= 95) {
            console.log("Clase 'oculto' añadida");
            miElemento2.classList.add("oculto");
        } else {
            miElemento2.classList.remove("oculto");
        }
    });
</script>
<script>
    const button = document.getElementById("boton");
    button.addEventListener("click", () => {
        window.location.href = "/reading";
    });
</script>
<section>
    <div class="final-text">
        <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s,
        </p>
    </div>
    <button type="button" class="boton" id="boton">Leer ahora</button>
</section>
<style>
    section {
        margin: 0 auto;
        margin-top: 1.5rem;
        padding: 0.5rem;
        display: grid;
        place-items: center;
    }
    .final-text {
        color: var(--brown);
        max-width: 400px;
    }
    .boton {
        margin-top: 1rem;
        background-color: var(--red);
        border: none;
        border-radius: 0.7rem;
        padding: 0rem;
        font-size: 0rem;
        font-weight: 500;
        color: var(--cream-white);
        cursor: pointer;
        transition: all 0.4s ease-in-out;
        opacity: 0;
    }
    .boton.oculto {
        padding: 0.7rem 1rem;
        font-size: 1rem;
        opacity: 1;
    }
    @media (min-width: 500px) {
        section {
            padding: 2.4rem;
        }
    }
    @media (min-width: 750px) {
        section {
            padding: 4rem;
        }
    }
    @media (min-width: 900px) {
        section {
            margin-top: 0rem;
            max-width: 750px;
        }
    }
</style>
