---

---

<header>
    <div class="header-content">
        <div>
            <h5 class="name">Ana Sofia Vera Muñoz</h5>
        </div>
        <button type="button" class="">Leer ahora</button>
    </div>
</header>

<style>
    .name {
        width: 55%;
    }
    button {
        background-color: var(--red);
        border: none;
        border-radius: 0.7rem;
        padding: 0.7rem 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: var(--cream-white);
        cursor: pointer;
    }
    .header-content {
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--red);
    }
    header {
        position: sticky;
        top: 0px;
        background-color: var(--cream-white);
        z-index: 3;
    }
</style>
