---

---

<script>
    window.addEventListener("scroll", function () {
        // Altura total del documento
        const scrollHeight = document.documentElement.scrollHeight;

        // Altura del área visible (ventana del navegador)
        const clientHeight = document.documentElement.clientHeight;

        // Cuánto ha hecho scroll el usuario
        const scrollTop = document.documentElement.scrollTop;

        // Calcular el porcentaje de scroll (scrollTop + clientHeight da la posición actual)
        const scrolled = ((scrollTop + clientHeight) / scrollHeight) * 100;

        // Seleccionar el elemento que se va a ocultar
        const miElemento = document.querySelector(".button");

        // Si se ha hecho scroll más del 95% de la página
        if (scrolled >= 90) {
            miElemento.classList.add("oculto"); // Añade la clase para ocultar
        } else {
            miElemento.classList.remove("oculto"); // Vuelve a mostrar el elemento si es menos del 95%
        }
    });
</script>

<header>
    <div class="header-content">
        <div>
            <h5 class="name">Ana Sofia Vera Muñoz</h5>
        </div>
        <button type="button" class="button"
            ><p class="textbuttom">Leer ahora</p></button
        >
    </div>
</header>

<style>
    .name {
        width: 55%;
    }
    .button {
        background-color: var(--red);
        border: none;
        border-radius: 0.7rem;
        padding: 0.7rem 1rem;
        font-size: 1rem;
        font-weight: 500;
        color: var(--cream-white);
        cursor: pointer;
        transition: all 0.6s ease;
        opacity: 1;
    }
    .button.oculto {
        overflow: hidden;
        font-size: 0%;
        padding: 0%;
    }

    .header-content {
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--red);
    }
    header {
        position: sticky;
        top: 0px;
        background-color: var(--cream-white);
        z-index: 3;
    }
</style>
