---
import ConceptCard from "./ConceptCard.astro";
---

<section class="clearfix">
    <div class="label"><p>Reportaje</p></div>
    <ConceptCard
        title="Técnica de reproducción asistida"
        data="esta es una informacion de prueba es muy poco en real estoy intentando llenar el mayor espacio posible y quiero poder hacerlos"
    />
    <ConceptCard
        title="Gestante subrogada"
        data="esta es una informacion de prueba es muy poco en real estoy intentando "
    />
    <ConceptCard
        title="Padre/madre de intención"
        data="esta es una informacion de prueba es muy poco en real estoy intentando llenar el mayor espacio posible y quiero poder hacerlos sigo y sigo pero creo que por fin lo tengo"
    />
    <ConceptCard
        title="Inseminación artificial"
        data="esta es una informacion de prueba es muy poco en real estoy intentando llenar el mayor espacio posible y quiero poder hacerlos"
    />
    <ConceptCard
        title="Fecundación in vitro"
        data="esta es una informacion de prueba es muy poco en real estoy intentando "
    />
    <ConceptCard
        title="Agencia"
        data="esta es una informacion de prueba es muy poco en real estoy intentando llenar el mayor espacio posible y quiero poder hacerlos sigo y sigo pero creo que por fin lo tengo"
    />
    <ConceptCard
        title="Clínica de fertilidad"
        data="esta es una informacion de prueba es muy poco en real estoy intentando llenar el mayor espacio posible y quiero poder hacerlos sigo y sigo pero creo que por fin lo tengo"
    />
</section>
<style>
    section {
        background-color: var(--beige);
        margin: 0 auto;
        margin-top: 1rem;
        padding: 0.5rem;
        padding-bottom: 2rem;
        display: flex;
        flex-direction: column;
    }
    .label {
        font-size: 0.8rem;
    }
</style>
