---

---

<script>
    const itemsinfo = [
        {
            numero: "1",
            titulo: "Introducción",
            info: "La necesidad de ser buena ―con lo que sea que eso signifique― se siente más fuerte en la juventud, cuando el mundo se mira con ojos ávidos de justicia, cuando cada aprendizaje se siente como tener el universo en la mano y las verdades absolutas parecen tan fáciles de decidir. Las ideologías, el sentido crítico y las opiniones afloran en terrenos regados por la información que se consume, los libros que se leen, los autores que se admiran, el ideal de persona que se quiere ser. Tal vez sea esta juventud y esta sed de corrección ―y también mi profundo deseo de ser madre y mi consciencia de esa grandeza― la que me llevó a caminos de temas espinosos como las técnicas de reproducción asistida. No se me hizo difícil coger el mazo y poner en tela de juicio varias de ellas, abrumada por la complejidad de las prácticas y por el obvio protagonismo de los cuerpos femeninos en ellas. Entre todo, lo que más me incomodó fue ver la facilidad de alquilar un vientre, la cantidad de mujeres dispuestas a hacerlo y sus características compartidas. En nosotras ha radicado la parte más importante de la vida y eso nos ha llevado a cargar con su peso, a sostener lo más valioso del mundo en las manos e intentar decidir qué hacer con ello. Intentar, solo intentar, porque ¿qué tan autónomo realmente es ese decidir? Estamos inmersas en una sociedad desigual que puede ser más difícil para nosotras ―no creo que haya necesidad de discutirlo a este punto―, y esa circunstancia vicia a menudo nuestros comportamientos y elecciones, desfavoreciendo a quienes ya están desfavorecidas. Esta idea podría ponerse en masculino y tendría igual sentido, también hay un asunto de clase que nos atraviesa, pero lo que atañe a las mujeres en este caso es propio de nuestra condición sexual, de nuestros órganos y sus capacidades, de cómo la ciencia se ha adentrado en ellos para descubrir o inventar nuevas formas de crear vida, arrebatándonos un poco lo que antes era solo nuestro. Muchos han alegado las consecuencias negativas de regular la gestación subrogada y la han calificado de mercantilización del cuerpo de las mujeres, así como de inhumanidad al transar con bebés. Es fácil verlo así, especialmente al consultar las altísimas cifras que las personas pagan cuando no pueden o quieren sobrellevar un embarazo. ¿Quién lo adolece, entonces? Las mujeres que necesitan dinero. ¿Eso es correcto? No lo creo, pero para escribir todo lo que contiene este  me tomo el atrevimiento de permanecer en silencio para escuchar voces con más potestad de la que yo tengo. Este reportaje comenzó con una etnografía virtual que me sobrecogió y fue sucedido por una serie de entrevistas que me hicieron más consciente que nunca de los claroscuros. Pese a que elegí un tema difícil de hablar, pude conocer gestantes subrogadas, padres y madres de intención, abogados, abogadas, psicólogas, antropólogas, feministas, agencias, clínicas, activistas. Todos tienen algo para decir que, en este rompecabezas, permite entender que la realidad es más compleja de lo que uno quisiera; especialmente cuando lo que se desea descifrar es parecido a algún tipo de magia que los humanos crearon para poder disponer del linaje y alterar lo que siempre estuvo y estará: la madre. La columna vertebral de este trabajo es la historia de Erótida, una mujer de 31 años que decidió ser gestante subrogada. Ella, con su relato particular, encarna el infinito que se esconde en llevar embarazos para otros. Más importante me fue escucharla que cualquier cosa. Su relato tiene las respuestas, no importa cuáles sean las preguntas. ",
        },
        {
            numero: "2",
            titulo: "Erotida",
            info: "",
        },
        {
            numero: "3",
            titulo: "subrogar la maternidad: cambiar su definicion",
            info: "",
        },
        {
            numero: "4",
            titulo: "capitulo 4",
            info: "",
        },
        {
            numero: "5",
            titulo: "capitulo 5",
            info: "",
        },
        {
            numero: "6",
            titulo: "capitulo 6",
            info: "",
        },
        {
            numero: "7",
            titulo: "capitulo 7",
            info: "",
        },
        {
            numero: "8",
            titulo: "capitulo 8",
            info: "",
        },
    ];
    // Seleccionar todos los ítems del menú
    const menuItems = document.querySelectorAll(".menu-item");

    // Seleccionar el contenedor del ítem seleccionado
    const selectedItemContainer = document.getElementById("selected-item");
    const selectedItemParagraph = document.getElementById("selected-item-text");

    // Seleccionar el header
    const header = document.getElementById("header");
    const lista = document.getElementById("menu");

    // Función para verificar si hay un ítem seleccionado
    function checkSelected() {
        const isAnyHidden = document.querySelector(".menu-item.hidden");

        if (isAnyHidden) {
            // Si hay un ítem oculto, el header vuelve a tamaño normal
            header.classList.remove("large");
            lista.classList.remove("large");
            menuItems.forEach((i) => i.classList.remove("large"));
        } else {
            // Si no hay ninguno seleccionado, duplicar el tamaño del header
            header.classList.add("large");
            lista.classList.add("large");
            menuItems.forEach((i) => i.classList.add("large"));
        }
    }

    // Añadir un evento click a cada ítem
    menuItems.forEach((item, indice) => {
        item.addEventListener("click", () => {
            // Mostrar el ítem seleccionado en el cuerpo de la página
            const selectedText = itemsinfo[indice].titulo;
            const selectedParagraph = itemsinfo[indice].info;
            selectedItemContainer.textContent = selectedText;
            selectedItemParagraph.textContent = selectedParagraph;
            // Ocultar el ítem seleccionado del header
            menuItems.forEach((i) => i.classList.remove("hidden")); // Mostrar todos
            menuItems.forEach((i, index) => {
                i.textContent = itemsinfo[index].numero;
            }); // Mostrar todos
            item.classList.add("hidden"); // Ocultar el seleccionado

            // Verificar si hay selección
            checkSelected();
        });
    });

    // Verificar inicialmente si no hay selección
    checkSelected();
</script>
<header id="header">
    <nav>
        <ul id="menu">
            <li data-id="1" class="menu-item">capitulo 1</li>
            <li data-id="2" class="menu-item">capitulo 2</li>
            <li data-id="3" class="menu-item">capitulo 3</li>
            <li data-id="4" class="menu-item">capitulo 4</li>
            <li data-id="5" class="menu-item">capitulo 5</li>
            <li data-id="6" class="menu-item">capitulo 6</li>
            <li data-id="7" class="menu-item">capitulo 7</li>
            <li data-id="8" class="menu-item">capitulo 8</li>
        </ul>
    </nav>
</header>
<section class="text-section">
    <div id="selected-item-container" class="selected-item-container">
        <h1 id="selected-item" class="selected-item"></h1>
    </div>
    <div id="selected-item-text" class="selected-item-text"></div>
</section>
<style>
    header {
        width: 100%;
        height: 50px;
        padding: 1rem;
        transition: all 0.3s ease;
        /* Para animar el cambio de tamaño */
    }
    header.large {
        padding: 2rem;
        height: 100vh;
        /* Doble tamaño */
    }

    nav ul {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }
    nav ul.large {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Crea 2 columnas */
    }

    nav ul li.large {
        display: flex;
        margin: 2.5rem 10px;
        height: 4rem;
        border-radius: 0.7rem;
        text-align: center;
        color: var(--red);
        padding: 10px 15px;
        cursor: pointer;
        background-color: var(--beige);
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-out;
    }

    nav ul li {
        display: flex;
        height: 10px;
        border-radius: 0.7rem;
        text-align: center;
        color: var(--red);
        padding: 10px 18px;
        cursor: pointer;
        background-color: var(--beige);
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-out;
    }

    nav ul li:hover {
        color: var(--cream-white);
        background-color: var(--brown);
    }

    nav ul li.hidden {
        display: none;
        /* Oculta el ítem seleccionado */
    }
</style>
